<div class="admin">
  <div class="container">
    <ul class="list-group">
      <li class="list-group-item" ng-repeat="user in users" style="color: black">
        <strong>{{user.name}}</strong>
        <br>
        <strong id="admin-colors">Users Zen-Color Profile: '{{user.colors[0].name}}', '{{user.colors[1].name}}', '{{user.colors[2].name}}' </strong>
        <br>
        <strong>Keywords</strong>
        <ul>
          <li>{{user.colors[0].keyWords}}</li>
          <li>{{user.colors[1].keyWords}}</li>
          <li>{{user.colors[2].keyWords}}</li>
        </ul>
        <hr>
        <span class="text-muted">{{user.email}}</span>
        <a ng-click="delete(user)" class="trash"><span class="glyphicon glyphicon-trash pull-right"></span></a>
      </li>
    </ul>
  </div>
</div>
<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <ul id="social">
          <li>
            <a class="fa fa-facebook" href="https://www.facebook.com/sviatoslav.lytovka" title="Facebook"></a>
          </li>
          <li>
            <a class="fa fa-github" href="https://github.com/slytovka" title="Github"></a>
          </li>
        </ul>
      </div>
      <div class="col-md-4 col-md-offset-4">
        <a href="https://github.com/slytovka">Made by Steven Lytovka &#169; 2015</a>
        <p>All rights reserved</p>
      </div>
    </div>
  </div>
</footer>
