<div class="admin">

<div class="container">
  <p>The delete user and user index api routes are restricted to users with the 'admin' role.</p>
  <ul class="list-group">
    <li class="list-group-item" ng-repeat="user in users" style="color: black">
        <strong>{{user.name}}</strong><br>
        <strong id="admin-colors">Users Zen-Color Profile: '{{user.colors[0].name}}', '{{user.colors[1].name}}', '{{user.colors[2].name}}' </strong><br>
        <strong>Keywords</strong>
          <ul>
            <li>{{user.colors[0].keyWords}}</li>
            <li>{{user.colors[1].keyWords}}</li>
            <li>{{user.colors[2].keyWords}}</li>
          </ul>
          <hr>
        <span class="text-muted">{{user.email}}</span>
        <a ng-click="delete(user)" class="trash"><span class="glyphicon glyphicon-trash pull-right"></span></a>
    </li>
  </ul>
</div>
</div>
