.thing-form {
    margin: 20px 0;
}
body{
    color: white;
    background: black;
}
.container{
    height: auto;
}
section {
    background-color: black;
    margin-bottom: 30px;
    padding-bottom: 40px;
}
.jumbotron {
    background-color: rgba(0, 0, 0, 0.4);
    text-align: center;
    margin: 20px 80px;
    position: relative;
    top: 40px;
}
.main {
    height: 750px;
    margin-top: 40px;
    background-image: url(../assets/images/background-color.jpg);
    background-position: center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    min-height: 100%;
}
.navbar {
    height: 50px;
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    position: fixed;
    width: 100%;
    top: 0;
    margin-bottom: 30px;
}

#banner {
    border-bottom: none;
    margin-top: -20px;
}

#banner h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}

.hero-unit {
    position: relative;
    padding: 30px 15px;
    color: #F5F5F5;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    background: #4393B9;
}

.footer {
    text-align: center;
    padding: 30px 0;
    margin-top: 70px;
    border-top: 1px solid #E5E5E5;
}

.navbar-text {
  margin-left: 15px;
  color: white;
}
#navbar-main li {
    color: white;
}
.nav li {
    color: red;
}
.signup, .login, .admin {
    margin-top: 35px;
}
.colors {
    margin-top: 50px;
}
.idea {
    background: grey;
    margin: 6px;
    -moz-box-shadow:    inset 0 0 10px #000000;
   -webkit-box-shadow: inset 0 0 10px #000000;
   box-shadow:         inset 0 0 10px #000000;
}
.result1, .result2, .result3 {
    width: 50px;
    height: 50px;
    display: inline-block;
    float: right;
}
